.container {
    background-color: aliceblue;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
    border: 1px solid rgba(46, 45, 45, 0.75);
    border-radius: 5px;
    box-shadow: 1px 0px 16px 5px rgba(46, 45, 45, 0.75);
    -webkit-box-shadow: 1px 0px 16px 5px rgba(46, 45, 45, 0.75);
    -moz-box-shadow: 1px 0px 16px 5px rgba(46, 45, 45, 0.75);
}

.container__result {
    font-size: 1.3em;
    padding: 5px;
    margin-left: 20px;
}

.container__resultValue {
    color: crimson;
    font-size: 2em;
}