html {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/background.png");
}

*,
::after,
::before {
    box-sizing: inherit;
}

.header {
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
}